body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
}

.name-style {
  color: orange;
}

.about-me {
  height: 500px;
  width: 40%;
  float: left;
  padding-left: 2%;
  margin-left: 5%;
}

.header-img {
  width: 40%;
  float: left;
  padding-left: 2%;
  margin-left: 5%;
}

.header-img img {
  width: 100%;
}

#header-section-top {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.here-me-btn{
   text-transform: uppercase;
   border: none;
   padding: 12px 25px;
   background-image: linear-gradient(45deg, lightsalmon, tomato);
   color: white;
   border-radius: 5px;
}

.bream-big-img{
   width: 40%;
   padding-left: 2%;
   margin-left: 5%;
   float: left;
}

.bream-big-img img{
   width: 100%;
}

.bream-big-about{
   width: 40%;
   padding-left: 2%;
   margin-left: 5%;
   float: left;
}

.resume-btn{
   padding: 10px 25px;
   border: none;
   background-image: linear-gradient(45deg, lightsalmon, tomato);
   color: white;
   font-weight: bold;
   text-transform: uppercase;
}

#bream-big-section{
   background-image: url(images/dream-bg.png);
   background-repeat: no-repeat;
   
   background-position: right;
   padding-bottom: 150px;
}

section{
   height: 500px;
}


.experience-hafe{
  height: 350px;
  width: 40%;
  float: left;
  box-shadow: 0px 0px 15px 0px gray;
  padding-left: 2%;
  margin-left: 5%;

}
.exp-heading-style{
  color: orange;
  
}

#experiences-heading{
  text-align: center;
}

#experience{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  padding-bottom: 150px;
  background-position: left;
}

#experience-border-1{
  border-image: linear-gradient(lightsalmon, tomato);
  border-left: 7px solid ;
  border-image-slice: 1;
 
}

#experience-border-2{
  border-image: linear-gradient(blue, cyan );
  border-left: 7px solid ;
  border-image-slice: 1;
}

footer p{
  text-align: center;
}
